*.class
*.properties
# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/MerlionBank-ejb/nbproject/private/
/nbproject/private/
/MerlionBank-war/nbproject/private/
/MerlionBank-ejb/build/
/MerlionBank-ejb/dist/
/dist/
/build/
/MerlionBank-war/build/
/MerlionBank-war/dist/
MerlionBank-ejb/setup/sun-resources.xml
/MerlionBankBackOffice/nbproject/private/
/MerlionBankBackOffice/build/
/MerlionBankBackOffice/dist/
MerlionBank-ejb/setup/sun-resources.xml
MerlionBankBackOffice/nbproject/private/private.xml
MerlionBankBackOffice/nbproject/private/private.xml